/***VARIABLES - SASS II***/
/**Colores**/
/**Medidas Fuentes**/
/**Tipo Fuente**/
/*********************************************************/
/***WHATSAPP LOGO***/
.whatsapp {
  display: block;
  position: fixed;
  width: 45px;
  height: 45px;
  bottom: 50px;
  right: 5px;
  background-color: #997db4;
  color: #fff;
  text-align: center;
  border-radius: 50px;
  font-size: 30px;
  z-index: 100; }
  .whatsapp .notificacion {
    width: 2px;
    height: 2px;
    background-color: red;
    border-radius: 50px; }

.whatsapp-icon {
  margin-top: 7px; }

.whatsapp-icon:hover {
  color: white; }

.whatsapp:hover {
  background-color: #0d920d; }

/******************************************************/
/***QUIENES SOMOS***/
.nosotros {
  margin-right: 0px; }

/***NEWSLETTER***/
.correo-input {
  height: 5rem;
  width: 40rem; }

.fotos__Sass {
  max-width: 120rem;
  margin: 0 auto; }
  .fotos__Sass .posicion__Sass {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    grid-column-gap: 10px;
    grid-row-gap: 15px;
    justify-items: center;
    align-items: center;
    align-self: stretch; }
  .fotos__Sass p {
    text-transform: capitalize;
    color: grey; }
  .fotos__Sass span {
    text-transform: uppercase;
    font-style: italic;
    padding: 10rem 0rem; }

.fotos__Sass img:hover {
  transition: 1s;
  transform: scale(1.1, 1.1); }

/***BOTON TIENDA***/
.contenedor__externo {
  margin-top: 10rem; }

.fondo {
  background-color: #e2c8a8;
  padding: 3rem 0;
  border-radius: 2rem; }

.display {
  display: flex;
  justify-content: space-around;
  align-items: center center; }

.tienda p {
  padding: 0.5rem 1rem;
  color: white;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.5rem; }

.margin__button {
  margin-top: 2rem; }

.style__button {
  padding: 1rem 6rem;
  border: none;
  border-radius: 5px;
  font-family: "Roboto Mono", monospace, "Comic Sans MS";
  font-weight: 500; }

.style__button:hover {
  background-color: #4b4b4b;
  color: whitesmoke;
  cursor: pointer; }

/***Novedades***/
.fotos__Sass--Posicion {
  margin: 12rem 0 5rem 0;
  text-align: start;
  font-size: 2rem; }

.posicion__Sass--Nueva {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  grid-column-gap: 10px;
  grid-row-gap: 15px;
  justify-content: space-between;
  justify-items: center;
  align-self: stretch; }

.posicion__Sass--Nueva img {
  height: 250px;
  width: 250px; }

/***AJUSTES***/
.body {
  margin: 0px; }
